Repository digitalservicebund/terraform-modules: changes, and which lefthook commands are due for each by the changed paths.
All: terraform-format-check, prettier-format-check

terraform-format-check:
  run: terraform fmt -check {staged_files}

prettier-format-check:
  run: npx --yes prettier --check .

fix: enforce explicit sequencing bucket and lifecycle policy
  stackit-telemetry-router/s3.tf
Due: terraform-format-check

fix(stackit-state-bucket): update module source to use GitHub reference with version tag
  stackit-state-bucket/main.tf
Due: terraform-format-check

fix(stackit-state-bucket): update module source to use GitHub reference with version tag (#115)
  stackit-state-bucket/README.md
  stackit-state-bucket/main.tf
Due: terraform-format-check

ci(pipeline): remove skip_ci from terraform README update commit message
  .github/workflows/pipeline.yml
Due: prettier-format-check

chore(stackit-state-bucket): adjust spacing in module source block for consistency
  stackit-state-bucket/main.tf
Due: terraform-format-check

ci(pipeline): remove skip_ci from terraform README update commit message (#116)
  .github/workflows/pipeline.yml
  stackit-state-bucket/main.tf
Due: terraform-format-check, prettier-format-check

feat(stackit-postgres-db)!: migrate to non-deprecated provider API
  stackit-postgres-db/README.md
  stackit-postgres-db/main.tf
  stackit-postgres-db/outputs.tf
  stackit-postgres-db/tests/postgres.tftest.hcl
  stackit-postgres-db/variables.tf
Due: terraform-format-check

feat(stackit-postgres-db)!: migrate to non-deprecated provider API
  stackit-postgres-db/README.md
  stackit-postgres-db/variables.tf
Due: terraform-format-check

chore(stackit-postgres-db): set minimum stackit provider to 0.105.0
  stackit-postgres-db/README.md
  stackit-postgres-db/terraform.tf
  stackit-postgres-db/variables.tf
Due: terraform-format-check

feat(stackit-postgres-db)!: migrate to non-deprecated provider API (#117)
  stackit-postgres-db/README.md
  stackit-postgres-db/main.tf
  stackit-postgres-db/outputs.tf
  stackit-postgres-db/terraform.tf
  stackit-postgres-db/tests/postgres.tftest.hcl
  stackit-postgres-db/variables.tf
Due: terraform-format-check

docs(readme): update module source references to use versioned tags PL-292
  stackit-identity-federation/README.md
  stackit-object-storage/README.md
  stackit-postgres-db/README.md
  stackit-secrets-manager/README.md
  stackit-state-bucket/README.md
Due: none

docs(readme): update module source references to use versioned tags PL-292 (#118)
  stackit-identity-federation/README.md
  stackit-object-storage/README.md
  stackit-postgres-db/README.md
  stackit-secrets-manager/README.md
  stackit-state-bucket/README.md
Due: none

chore(terraform): remove obsolete moved block for bucket policy
  stackit-object-storage/policies.tf
Due: terraform-format-check

Add write-only bucket policy
  stackit-object-storage/policies.tf
Due: terraform-format-check

Fix accidentally deleted character
  stackit-object-storage/policies.tf
Due: terraform-format-check

Fix placement of }
  stackit-object-storage/policies.tf
Due: terraform-format-check

docs(README): use correct casing in STACKIT
  stackit-object-storage/README.md
  stackit-secrets-manager/README.md
  stackit-state-bucket/README.md
Due: none

Change policy to Deny all except s3:PutObject
  stackit-object-storage/policies.tf
Due: terraform-format-check

Add write-only bucket policy (#127)
  stackit-object-storage/README.md
  stackit-object-storage/policies.tf
Due: terraform-format-check

Path conditions:
  terraform-format-check: any of: *.tf
  prettier-format-check: any of: *.{js,jsx,ts,tsx,json,css,scss,html,yaml,yml}
