Repository digitalservicebund/terraform-modules: changes, and which lefthook commands are due for each by the changed paths.
All: terraform-format-check, prettier-format-check

lefthook.yml:

pre-commit:
  commands:
    terraform-format-check:
      run: terraform fmt -check {staged_files}
      glob: "*.tf"
    prettier-format-check:
      run: npx --yes prettier --check .
      glob: "*.{js,jsx,ts,tsx,json,css,scss,html,yaml,yml}"

docs(readme): Clarify credential usage and troubleshooting steps for AWS provider PL-19 (#33)
  stackit-object-storage/README.md
  stackit-object-storage/variables.tf
  stackit-state-bucket/README.md
Due: terraform-format-check

feat(stackit-object-storage): add public_bucket variable
  stackit-object-storage/README.md
  stackit-object-storage/policies.tf
  stackit-object-storage/tests/policies.tftest.hcl
  stackit-object-storage/variables.tf
Due: terraform-format-check

fix readme
  stackit-object-storage/README.md
Due: none

fix(test): add missing group_id
  stackit-object-storage/tests/policies.tftest.hcl
Due: none

refactor: rename variable to enable_public_read
  stackit-object-storage/README.md
  stackit-object-storage/policies.tf
  stackit-object-storage/variables.tf
Due: terraform-format-check

doc: add warning to docstring
  stackit-object-storage/README.md
  stackit-object-storage/variables.tf
Due: terraform-format-check

chore(test): update variable name
  stackit-object-storage/tests/policies.tftest.hcl
Due: none

feat(stackit-object-storage): add public_bucket variable (#37)
  stackit-object-storage/README.md
  stackit-object-storage/policies.tf
  stackit-object-storage/tests/policies.tftest.hcl
  stackit-object-storage/variables.tf
Due: terraform-format-check

feat(secrets-manager): add validation rules for secret names [PL-52]
  stackit-secrets-manager/tests/secrets_manager.tftest.hcl
  stackit-secrets-manager/variables.tf
Due: terraform-format-check

feat(secrets-manager): add validation rules for secret names [PL-52] (#38)
  stackit-secrets-manager/tests/secrets_manager.tftest.hcl
  stackit-secrets-manager/variables.tf
Due: terraform-format-check

ci(pipeline): pin GitHub Actions to specific commit SHAs for improved security
  .github/workflows/pipeline.yml
Due: prettier-format-check

chore(gh): add dependabot
  .github/dependabot.yml
Due: prettier-format-check

chore(gh): remove redundant dependabot entry
  .github/dependabot.yml
Due: prettier-format-check

chore(docs): fix docs
  stackit-object-storage/README.md
Due: none

docs(tf): update docs after merging dependabot prs
  stackit-object-storage/README.md
  stackit-postgres-db/README.md
  stackit-secrets-manager/README.md
Due: none

docs(tf): update after dependabot merge
  stackit-object-storage/README.md
  stackit-postgres-db/README.md
Due: none

Update readme
  stackit-object-storage/README.md
Due: none

Ignore lock files in terraform docs
  .github/workflows/pipeline.yml
  stackit-object-storage/README.md
  stackit-postgres-db/README.md
  stackit-secrets-manager/README.md
  stackit-state-bucket/README.md
  stackit-state-bucket/terraform.tf
Due: terraform-format-check, prettier-format-check

feat(PL-149): add Prometheus metrics scraping support
  stackit-postgres-db/README.md
  stackit-postgres-db/main.tf
  stackit-postgres-db/variables.tf
Due: terraform-format-check

docs(PL-149): rendering docs via terraform docs
  stackit-postgres-db/README.md
Due: none

chore(PL-149): take review comments into place
  stackit-postgres-db/README.md
  stackit-postgres-db/variables.tf
Due: terraform-format-check

fix(PL-149): solve terraform test cycle error
  stackit-postgres-db/variables.tf
Due: terraform-format-check

feat(tf): add module for stackit-identity-federation
  .github/dependabot.yml
  .github/workflows/pipeline.yml
  stackit-github-actions-service-account/.terraform-version
  stackit-github-actions-service-account/.terraform.lock.hcl
  stackit-github-actions-service-account/README.md
  stackit-github-actions-service-account/main.tf
  stackit-github-actions-service-account/outputs.tf
  stackit-github-actions-service-account/terraform.tf
  stackit-github-actions-service-account/tests/github_actions_service_account.tftest.hcl
  stackit-github-actions-service-account/variables.tf
Due: terraform-format-check, prettier-format-check

docs(github_module): tidy up docs
  stackit-github-actions-service-account/README.md
Due: none

docs(github_actions_module): fix the tf docs issue that was showing up in the pipeline
  stackit-github-actions-service-account/README.md
Due: none

revert: undo stackit-identity-federation module changes
  .github/dependabot.yml
  .github/workflows/pipeline.yml
  stackit-github-actions-service-account/.terraform-version
  stackit-github-actions-service-account/.terraform.lock.hcl
  stackit-github-actions-service-account/README.md
  stackit-github-actions-service-account/main.tf
  stackit-github-actions-service-account/outputs.tf
  stackit-github-actions-service-account/terraform.tf
  stackit-github-actions-service-account/tests/github_actions_service_account.tftest.hcl
  stackit-github-actions-service-account/variables.tf
Due: terraform-format-check, prettier-format-check

Revert "revert: undo stackit-identity-federation module changes"
  .github/dependabot.yml
  .github/workflows/pipeline.yml
  stackit-github-actions-service-account/.terraform-version
  stackit-github-actions-service-account/.terraform.lock.hcl
  stackit-github-actions-service-account/README.md
  stackit-github-actions-service-account/main.tf
  stackit-github-actions-service-account/outputs.tf
  stackit-github-actions-service-account/terraform.tf
  stackit-github-actions-service-account/tests/github_actions_service_account.tftest.hcl
  stackit-github-actions-service-account/variables.tf
Due: terraform-format-check, prettier-format-check

chore(identity_federation): rename module to reflect full potential
  .github/dependabot.yml
  .github/workflows/pipeline.yml
  stackit-identity-federation/.terraform-version
  stackit-identity-federation/.terraform.lock.hcl
  stackit-identity-federation/README.md
  stackit-identity-federation/main.tf
  stackit-identity-federation/outputs.tf
  stackit-identity-federation/terraform.tf
  stackit-identity-federation/tests/github_actions_service_account.tftest.hcl
  stackit-identity-federation/variables.tf
Due: terraform-format-check, prettier-format-check

chore(docs): fix broken link
  stackit-identity-federation/README.md
Due: none

Automatically commit changes to terraform docs with verified commits
  .github/workflows/pipeline.yml
Due: prettier-format-check

Break readme to test changes
  stackit-postgres-db/README.md
Due: none

Automatically commit & push changes to terraform docs (#79)
  .github/workflows/pipeline.yml
Due: prettier-format-check

chore(federation): resolve some comments in review
  stackit-identity-federation/outputs.tf
  stackit-identity-federation/variables.tf
Due: terraform-format-check

chore(federation): remove audience variable
  stackit-identity-federation/README.md
  stackit-identity-federation/main.tf
  stackit-identity-federation/variables.tf
Due: terraform-format-check

fix(ci/cd): Add workflow permissions
  .github/workflows/pipeline.yml
Due: prettier-format-check

fix(ci/cd): Add workflow permissions (#95)
  .github/workflows/pipeline.yml
Due: prettier-format-check

chore(CI): standardize dependaBot.yml for all repo directories
  .github/dependabot.yml
Due: prettier-format-check

feat(CI): use 7 days cooldown
  .github/dependabot.yml
Due: prettier-format-check
