Repository digitalservicebund/terraform-modules: changes, and which lefthook commands are due for each by the changed paths.
All: terraform-format-check, prettier-format-check

terraform-format-check:
  run: terraform fmt -check {staged_files}

prettier-format-check:
  run: npx --yes prettier --check .

chore(CI): standardize dependaBot.yml for all repo directories (#97)
  .github/dependabot.yml
Due: prettier-format-check

fix(identity_federation): enable support for repos made after 15 July 2026 PL-270
  stackit-identity-federation/variables.tf
Due: terraform-format-check

docs(identityfederation): update docs, also add repo: prefix removal
  stackit-identity-federation/README.md
  stackit-identity-federation/main.tf
  stackit-identity-federation/variables.tf
Due: terraform-format-check

feat(stackit-postgres-db): add option to adjust owner of databases
  stackit-postgres-db/main.tf
  stackit-postgres-db/tests/postgres.tftest.hcl
  stackit-postgres-db/variables.tf
Due: terraform-format-check

fix(stackit-postgres-db): add dependencies for user creation before database provisioning
  stackit-postgres-db/main.tf
Due: terraform-format-check

feat(stackit-postgres-db): add option to adjust owner of databases (#103)
  stackit-postgres-db/README.md
  stackit-postgres-db/main.tf
  stackit-postgres-db/tests/postgres.tftest.hcl
  stackit-postgres-db/variables.tf
Due: terraform-format-check

chore: deprecate unused modules
  cloudflare-record/README.md
  cloudflare-record/main.tf
  cloudflare-record/outputs.tf
  cloudflare-record/provider.tf
  cloudflare-record/variables.tf
  deploy-key/README.md
  deploy-key/main.tf
  deploy-key/provider.tf
  deploy-key/variables.tf
  hetzner-instance/README.md
  hetzner-instance/main.tf
  hetzner-instance/outputs.tf
  hetzner-instance/provider.tf
  hetzner-instance/userdata.sh
  hetzner-instance/variables.tf
  repo-environment/README.md
  repo-environment/main.tf
  repo-environment/provider.tf
  repo-environment/variables.tf
Due: terraform-format-check

chore: deprecate unused modules (#105)
  cloudflare-record/README.md
  cloudflare-record/main.tf
  cloudflare-record/outputs.tf
  cloudflare-record/provider.tf
  cloudflare-record/variables.tf
  deploy-key/README.md
  deploy-key/main.tf
  deploy-key/provider.tf
  deploy-key/variables.tf
  hetzner-instance/README.md
  hetzner-instance/main.tf
  hetzner-instance/outputs.tf
  hetzner-instance/provider.tf
  hetzner-instance/userdata.sh
  hetzner-instance/variables.tf
  repo-environment/README.md
  repo-environment/main.tf
  repo-environment/provider.tf
  repo-environment/variables.tf
Due: terraform-format-check

chore(pipeline): Add automated release for terraform modules PL-65
  .github/workflows/release.yaml.yml
Due: prettier-format-check

docs: add section about conventional commits to README.md
  README.md
Due: none

chore(pipeline): Add automated release for terraform modules PL-65 (#104)
  .github/workflows/release.yaml.yml
  README.md
Due: prettier-format-check

fix(pipeline): update workflow file name
  .github/workflows/release.yml
Due: prettier-format-check

fix(pipeline): update workflow file name (#106)
  .github/workflows/release.yml
Due: prettier-format-check

feat(permissions): introduce custom role creation for least privilege access PL-241
  stackit-identity-federation/.terraform.lock.hcl
  stackit-identity-federation/README.md
  stackit-identity-federation/main.tf
  stackit-identity-federation/outputs.tf
  stackit-identity-federation/tests/github_actions_service_account.tftest.hcl
  stackit-identity-federation/variables.tf
Due: terraform-format-check

feat: introduce STACKIT Telemetry Router
  stackit-telemetry-router/.terraform.lock.hcl
  stackit-telemetry-router/README.md
  stackit-telemetry-router/main.tf
  stackit-telemetry-router/outputs.tf
  stackit-telemetry-router/s3.tf
  stackit-telemetry-router/terraform.tf
  stackit-telemetry-router/tests/telemetry_router.tftest.hcl
  stackit-telemetry-router/variables.tf
Due: terraform-format-check

fix: terraform fmt
  stackit-telemetry-router/s3.tf
Due: terraform-format-check

feat: separate router and storage project_id
  stackit-telemetry-router/main.tf
  stackit-telemetry-router/outputs.tf
  stackit-telemetry-router/s3.tf
  stackit-telemetry-router/tests/telemetry_router.tftest.hcl
  stackit-telemetry-router/variables.tf
Due: terraform-format-check

feat(stackit-identity-federation): introduce custom role creation for least privilege access PL-241 (#107)
  stackit-identity-federation/.terraform.lock.hcl
  stackit-identity-federation/README.md
  stackit-identity-federation/main.tf
  stackit-identity-federation/outputs.tf
  stackit-identity-federation/tests/github_actions_service_account.tftest.hcl
  stackit-identity-federation/variables.tf
Due: terraform-format-check

feat(permissions): introduce custom role creation for least privilege access PL-241
  stackit-identity-federation/outputs.tf
Due: terraform-format-check

feat(permissions): introduce custom role creation for least privilege access PL-241 (#109)
  stackit-identity-federation/outputs.tf
Due: terraform-format-check

fix: remove stackit_objectstorage_credentials_group and stackit_objectstorage_credential because of causing a Cycle
  stackit-telemetry-router/main.tf
  stackit-telemetry-router/outputs.tf
  stackit-telemetry-router/s3.tf
  stackit-telemetry-router/tests/telemetry_router.tftest.hcl
  stackit-telemetry-router/variables.tf
Due: terraform-format-check

chore: rename logs instance and router instance
  stackit-telemetry-router/main.tf
Due: terraform-format-check

fix: use days for object_lock instead of years
  stackit-telemetry-router/s3.tf
Due: terraform-format-check

chore: change naming
  stackit-telemetry-router/main.tf
Due: terraform-format-check

fix: align max retention days to 365
  stackit-telemetry-router/variables.tf
Due: terraform-format-check

chore: increase name lenght
  stackit-telemetry-router/variables.tf
Due: terraform-format-check

fix: increate policy timeouts
  stackit-telemetry-router/main.tf
  stackit-telemetry-router/s3.tf
Due: terraform-format-check

fix(stackit-identity-federation): implement support for custom roles at project, folder, and organization levels
  stackit-identity-federation/README.md
  stackit-identity-federation/main.tf
  stackit-identity-federation/outputs.tf
  stackit-identity-federation/tests/github_actions_service_account.tftest.hcl
  stackit-identity-federation/variables.tf
Due: terraform-format-check

fix(stackit-identity-federation): implement support for custom roles at project, folder, and organization levels (#110)
  stackit-identity-federation/README.md
  stackit-identity-federation/main.tf
  stackit-identity-federation/outputs.tf
  stackit-identity-federation/tests/github_actions_service_account.tftest.hcl
  stackit-identity-federation/variables.tf
Due: terraform-format-check

fix: URI must start with protocoll
  stackit-telemetry-router/main.tf
Due: terraform-format-check

Path conditions:
  terraform-format-check: any of: *.tf
  prettier-format-check: any of: *.{js,jsx,ts,tsx,json,css,scss,html,yaml,yml}
