Repository digitalservicebund/terraform-modules: changes, and which lefthook commands are due for each by the changed paths.
All: terraform-format-check, prettier-format-check

terraform-format-check:
  run: terraform fmt -check {staged_files}

prettier-format-check:
  run: npx --yes prettier --check .

fix: Allow spaces in shared vault name
  stackit-state-bucket/main.tf
  stackit-state-bucket/tests/state_bucket.tftest.hcl
Due: terraform-format-check

Recreate README with terraform-docs
  stackit-state-bucket/README.md
Due: none

Fix test execution
  stackit-state-bucket/tests/state_bucket.tftest.hcl
Due: none

docs: Update README with used tooling for STACKIT Modules
  README.md
Due: none

fix: Allow spaces in shared vault name (#19)
  stackit-state-bucket/README.md
  stackit-state-bucket/main.tf
  stackit-state-bucket/tests/state_bucket.tftest.hcl
Due: terraform-format-check

fix: use format function to escape strings properly
  stackit-state-bucket/main.tf
  stackit-state-bucket/tests/state_bucket.tftest.hcl
Due: terraform-format-check

Create a user/password credential pair in a Vault and export manifest reference
  stackit-credential-manifest/.terraform.lock.hcl
  stackit-credential-manifest/README.md
  stackit-credential-manifest/main.tf
  stackit-credential-manifest/outputs.tf
  stackit-credential-manifest/terraform.tf
  stackit-credential-manifest/tests/credentials.tftest.hcl
  stackit-credential-manifest/variables.tf
Due: terraform-format-check

Create more than one user and database when configured
  stackit-postgres-db/.terraform.lock.hcl
  stackit-postgres-db/README.md
  stackit-postgres-db/main.tf
  stackit-postgres-db/outputs.tf
  stackit-postgres-db/terraform.tf
  stackit-postgres-db/tests/postgres.tftest.hcl
  stackit-postgres-db/variables.tf
Due: terraform-format-check

Allow creation of additional config map resource
  stackit-postgres-db/README.md
  stackit-postgres-db/main.tf
  stackit-postgres-db/tests/postgres.tftest.hcl
  stackit-postgres-db/variables.tf
Due: terraform-format-check

Return a map of credentials instead of separate usernames and passwords
  stackit-postgres-db/README.md
  stackit-postgres-db/outputs.tf
  stackit-postgres-db/tests/postgres.tftest.hcl
Due: terraform-format-check

Properly name the secretKey for admin password
  stackit-postgres-db/main.tf
Due: terraform-format-check

Remove host from external-secret manifest
  stackit-postgres-db/main.tf
Due: terraform-format-check

Move common test values to top variables definition
  stackit-postgres-db/tests/postgres.tftest.hcl
Due: none

Fail resource creation when kubernetes_namespace is not set but required
  stackit-postgres-db/main.tf
  stackit-postgres-db/tests/postgres.tftest.hcl
  stackit-postgres-db/variables.tf
Due: terraform-format-check

Add warning to created yaml files
  stackit-postgres-db/main.tf
Due: terraform-format-check

Update tests
  stackit-postgres-db/README.md
  stackit-postgres-db/tests/postgres.tftest.hcl
Due: none

Create more than one user and database when configured (#22)
  stackit-postgres-db/.terraform.lock.hcl
  stackit-postgres-db/README.md
  stackit-postgres-db/main.tf
  stackit-postgres-db/outputs.tf
  stackit-postgres-db/terraform.tf
  stackit-postgres-db/tests/postgres.tftest.hcl
  stackit-postgres-db/variables.tf
Due: terraform-format-check

Use proper external-secrets manifest version
  stackit-postgres-db/main.tf
Due: terraform-format-check

Fix configMap data values to be strings and not an object
  stackit-postgres-db/main.tf
Due: terraform-format-check

Fix configMap data values to be strings and not an object (#23)
  stackit-postgres-db/main.tf
Due: terraform-format-check

Use local_file resource for manifest instead of output
  stackit-object-storage/.terraform.lock.hcl
  stackit-object-storage/README.md
  stackit-object-storage/main.tf
  stackit-object-storage/outputs.tf
  stackit-object-storage/terraform.tf
  stackit-object-storage/tests/object_storage.tftest.hcl
  stackit-object-storage/variables.tf
Due: terraform-format-check

Use local_file resource for manifest instead of output (#24)
  stackit-object-storage/.terraform.lock.hcl
  stackit-object-storage/README.md
  stackit-object-storage/main.tf
  stackit-object-storage/outputs.tf
  stackit-object-storage/terraform.tf
  stackit-object-storage/tests/object_storage.tftest.hcl
  stackit-object-storage/variables.tf
Due: terraform-format-check

feat(stackit-object-storage): Implement IAM policies for credential access control
  stackit-object-storage/.terraform.lock.hcl
  stackit-object-storage/main.tf
  stackit-object-storage/managed_credentials.tf
  stackit-object-storage/outputs.tf
  stackit-object-storage/terraform.tf
  stackit-object-storage/tests/object_storage.tftest.hcl
  stackit-object-storage/tests/policies.tftest.hcl
  stackit-object-storage/variables.tf
Due: terraform-format-check

feat(stackit-state-bucket): Update usage of object storage module
  stackit-state-bucket/.terraform.lock.hcl
  stackit-state-bucket/README.md
  stackit-state-bucket/main.tf
  stackit-state-bucket/outputs.tf
  stackit-state-bucket/terraform.tf
  stackit-state-bucket/tests/state_bucket.tftest.hcl
Due: terraform-format-check

feat(stackit-object-storage): Update docs
  stackit-object-storage/README.md
Due: none

fmt
  stackit-object-storage/outputs.tf
Due: terraform-format-check

rename credential group resource to enable moving resources
  stackit-object-storage/main.tf
  stackit-object-storage/tests/policies.tftest.hcl
Due: terraform-format-check

Add docs about adding multiple credentials
  stackit-object-storage/README.md
  stackit-object-storage/tests/object_storage.tftest.hcl
  stackit-object-storage/tests/policies.tftest.hcl
Due: none

Introduce terraform_credentials_group_id input variable to manage multiple buckets with terraform
  stackit-object-storage/README.md
  stackit-object-storage/main.tf
  stackit-object-storage/outputs.tf
  stackit-object-storage/tests/object_storage.tftest.hcl
  stackit-object-storage/tests/policies.tftest.hcl
  stackit-object-storage/variables.tf
  stackit-state-bucket/main.tf
Due: terraform-format-check

Improve docs
  stackit-object-storage/README.md
  stackit-object-storage/main.tf
  stackit-state-bucket/README.md
  stackit-state-bucket/outputs.tf
Due: terraform-format-check

remove policy for content access
  stackit-object-storage/main.tf
Due: terraform-format-check

update readme
  stackit-object-storage/README.md
  stackit-state-bucket/README.md
Due: none

Code Review comments
  stackit-object-storage/README.md
  stackit-object-storage/main.tf
  stackit-object-storage/outputs.tf
  stackit-object-storage/variables.tf
Due: terraform-format-check

Update README
  stackit-object-storage/README.md
Due: none

fmt
  .github/workflows/pipeline.yml
  README.md
Due: prettier-format-check

tf fmt
  stackit-object-storage/main.tf
Due: terraform-format-check

feat(stackit-object-storage): Implement IAM policies for credential access control (#25)
  .github/workflows/pipeline.yml
  README.md
  stackit-object-storage/.terraform.lock.hcl
  stackit-object-storage/README.md
  stackit-object-storage/main.tf
  stackit-object-storage/managed_credentials.tf
  stackit-object-storage/outputs.tf
  stackit-object-storage/terraform.tf
  stackit-object-storage/tests/object_storage.tftest.hcl
  stackit-object-storage/tests/policies.tftest.hcl
  stackit-object-storage/variables.tf
  stackit-state-bucket/.terraform.lock.hcl
  stackit-state-bucket/README.md
  stackit-state-bucket/main.tf
  stackit-state-bucket/outputs.tf
  stackit-state-bucket/terraform.tf
  stackit-state-bucket/tests/state_bucket.tftest.hcl
Due: terraform-format-check, prettier-format-check

fix(stackit-secrets-manager): Quote yaml files properly
  stackit-secrets-manager/outputs.tf
  stackit-secrets-manager/tests/secrets_manager.tftest.hcl
Due: terraform-format-check

docs(readme): Update README with STACKIT Secrets Manager integration details
  stackit-object-storage/README.md
  stackit-postgres-db/README.md
Due: none

feat(stackit-object-storage): Enable conditional creation of S3 bucket policies
  stackit-object-storage/main.tf
  stackit-object-storage/policies.tf
  stackit-object-storage/variables.tf
Due: terraform-format-check

Path conditions:
  terraform-format-check: any of: *.tf
  prettier-format-check: any of: *.{js,jsx,ts,tsx,json,css,scss,html,yaml,yml}
