Repository digitalservicebund/terraform-modules: changes, and which lefthook commands are due for each by the changed paths.
All: terraform-format-check, prettier-format-check

terraform-format-check:
  run: terraform fmt -check {staged_files}

prettier-format-check:
  run: npx --yes prettier --check .

feat(aws-terraform-execution): Add module to manage terraform execution role
  aws-terraform-execution/github.tf
  aws-terraform-execution/main.tf
  aws-terraform-execution/variables.tf
Due: terraform-format-check

feat(aws-terraform-execution): Add module to manage terraform execution role (#6)
  aws-terraform-execution/github.tf
  aws-terraform-execution/main.tf
  aws-terraform-execution/variables.tf
Due: terraform-format-check

feat(aws-terraform-execution): Deny only write operations to this role
  aws-terraform-execution/main.tf
Due: terraform-format-check

feat(aws-terraform-execution): Deny only write operations to this role (#7)
  aws-terraform-execution/main.tf
Due: terraform-format-check

feat(otc-kubernetes-cluster): Allow setting different disk types in node pools
  otc-kubernetes-cluster/cce_cluster/main.tf
  otc-kubernetes-cluster/cce_cluster/variables.tf
Due: terraform-format-check

feat(otc-kubernetes-cluster): Allow setting different disk types in node pools (#8)
  otc-kubernetes-cluster/cce_cluster/main.tf
  otc-kubernetes-cluster/cce_cluster/variables.tf
Due: terraform-format-check

feat(otc-kubernetes-cluster): Change default disk type in node groups
  otc-kubernetes-cluster/cce_cluster/main.tf
Due: terraform-format-check

feat(aws-remote-state): Make dynamo table name configurable
  aws-remote-state/dynamo_db_table.tf
  aws-remote-state/variables.tf
Due: terraform-format-check

feat(aws-terraform-execution): Allow role assumption by itself & sso role
  aws-terraform-execution/github.tf
  aws-terraform-execution/main.tf
  aws-terraform-execution/variables.tf
Due: terraform-format-check

fix cyclic dependency
  aws-terraform-execution/github.tf
Due: terraform-format-check

Improve code structure
  aws-terraform-execution/github.tf
  aws-terraform-execution/main.tf
Due: terraform-format-check

make sso role arn optional
  aws-terraform-execution/main.tf
  aws-terraform-execution/variables.tf
Due: terraform-format-check

feat(aws-terraform-execution): Allow role assumption by itself & sso role (#9)
  aws-terraform-execution/github.tf
  aws-terraform-execution/main.tf
  aws-terraform-execution/variables.tf
Due: terraform-format-check

docs(aws-remote-state): Update docs to include example and details of all variables etc
  aws-remote-state/README.md
  aws-remote-state/terraform.tf
Due: terraform-format-check

docs(aws-terraform-execution): Add documentation about module
  aws-terraform-execution/README.md
  aws-terraform-execution/terraform.tf
Due: terraform-format-check

fix(aws-remote-state): Update markdown formatting
  aws-remote-state/README.md
Due: none

feat(aws-rds-database): Add rds with kms & security group
  .gitignore
  aws-rds-database/README.md
  aws-rds-database/database.tf
  aws-rds-database/kms.tf
  aws-rds-database/outputs.tf
  aws-rds-database/security_group.tf
  aws-rds-database/terraform.tf
  aws-rds-database/variables.tf
  aws-remote-state/README.md
Due: terraform-format-check

fix(aws-module): Fix terraform version constraint
  aws-remote-state/terraform.tf
  aws-terraform-execution/terraform.tf
Due: terraform-format-check

feat(aws-remote-state): Add kms key alias
  aws-remote-state/state-bucket.tf
Due: terraform-format-check

feat(aws-terraform-execution): Make role name configurable
  aws-remote-state/state-bucket.tf
  aws-terraform-execution/README.md
  aws-terraform-execution/main.tf
  aws-terraform-execution/variables.tf
Due: terraform-format-check

feat(aws-state-bucket): Upgrade to aws provider v6
  aws-remote-state/state-bucket.tf
  aws-remote-state/terraform.tf
Due: terraform-format-check

Create opencode.yml
  opencode.yml
Due: prettier-format-check

feat(stackit-state-bucket): Add stackit state bucket module
  .gitignore
  stackit-state-bucket/README.md
  stackit-state-bucket/main.tf
  stackit-state-bucket/outputs.tf
  stackit-state-bucket/terraform.tf
  stackit-state-bucket/variables.tf
Due: terraform-format-check

feat(otc-css-cluster): Allow css cluster type configuration
  otc-css-cluster/main.tf
  otc-css-cluster/variables.tf
Due: terraform-format-check

feat(stackit-secrets-manager): Add module for managing secrets with StackIT
  .gitignore
  stackit-secrets-manager/README.md
  stackit-secrets-manager/main.tf
  stackit-secrets-manager/outputs.tf
  stackit-secrets-manager/terraform.tf
  stackit-secrets-manager/variables.tf
Due: terraform-format-check

chore(aws): Remove all AWS modules
  aws-remote-state/README.md
  aws-remote-state/dynamo_db_table.tf
  aws-remote-state/outputs.tf
  aws-remote-state/state-bucket.tf
  aws-remote-state/terraform.tf
  aws-remote-state/variables.tf
  aws-terraform-execution/README.md
  aws-terraform-execution/github.tf
  aws-terraform-execution/main.tf
  aws-terraform-execution/terraform.tf
  aws-terraform-execution/variables.tf
  stackit-secrets-manager/README.md
Due: terraform-format-check

feat(otc-rds): Add random password as output to module
  otc-css-cluster/main.tf
  otc-rds-database/outputs.tf
Due: terraform-format-check

feat(stackit-state-bucket): Add character limit validation
  stackit-state-bucket/variables.tf
Due: terraform-format-check

Add separate module to create an s3 bucket with 1 or more credentials
  stackit-s3-bucket/.terraform-version
  stackit-s3-bucket/.terraform.lock.hcl
  stackit-s3-bucket/README.md
  stackit-s3-bucket/main.tf
  stackit-s3-bucket/outputs.tf
  stackit-s3-bucket/terraform.tf
  stackit-s3-bucket/tests/object_storage.tftest.hcl
  stackit-s3-bucket/variables.tf
  stackit-secrets-manager/README.md
  stackit-state-bucket/.terraform-version
  stackit-state-bucket/.terraform.lock.hcl
  stackit-state-bucket/main.tf
  stackit-state-bucket/outputs.tf
  stackit-state-bucket/tests/state_bucket.tftest.hcl
Due: terraform-format-check

Run tests in pipeline
  .github/workflows/pipeline.yml
  stackit-s3-bucket/README.md
  stackit-state-bucket/README.md
Due: prettier-format-check

rename module
  stackit-object-storage/.terraform-version
  stackit-object-storage/.terraform.lock.hcl
  stackit-object-storage/README.md
  stackit-object-storage/main.tf
  stackit-object-storage/outputs.tf
  stackit-object-storage/terraform.tf
  stackit-object-storage/tests/object_storage.tftest.hcl
  stackit-object-storage/variables.tf
  stackit-state-bucket/main.tf
Due: terraform-format-check

Add action to check terraform docs
  .github/workflows/pipeline.yml
Due: prettier-format-check

Push docs changes back to PR
  .github/workflows/pipeline.yml
  lefthook.yml
  stackit-state-bucket/README.md
Due: prettier-format-check

checkout pr head
  .github/workflows/pipeline.yml
Due: prettier-format-check

trigger terraform docs commit
  stackit-state-bucket/README.md
Due: none

sign commits
  .github/workflows/pipeline.yml
Due: prettier-format-check

fail action on diff
  .github/workflows/pipeline.yml
Due: prettier-format-check

feat(stackit-object-storage): Create new module for object storage (#12)
  .github/workflows/pipeline.yml
  lefthook.yml
  stackit-object-storage/.terraform-version
  stackit-object-storage/.terraform.lock.hcl
  stackit-object-storage/README.md
  stackit-object-storage/main.tf
  stackit-object-storage/outputs.tf
  stackit-object-storage/terraform.tf
  stackit-object-storage/tests/object_storage.tftest.hcl
  stackit-object-storage/variables.tf
  stackit-secrets-manager/README.md
  stackit-state-bucket/.terraform-version
  stackit-state-bucket/.terraform.lock.hcl
  stackit-state-bucket/README.md
  stackit-state-bucket/main.tf
  stackit-state-bucket/outputs.tf
  stackit-state-bucket/tests/state_bucket.tftest.hcl
Due: terraform-format-check, prettier-format-check

Add k8s manifest outputs to simplify the secret store creation
  stackit-secrets-manager/.terraform-version
  stackit-secrets-manager/.terraform.lock.hcl
  stackit-secrets-manager/README.md
  stackit-secrets-manager/outputs.tf
  stackit-secrets-manager/tests/secrets_manager.tftest.hcl
  stackit-secrets-manager/variables.tf
Due: terraform-format-check

add secrets manager module to pipeline
  .github/workflows/pipeline.yml
Due: prettier-format-check

Path conditions:
  terraform-format-check: any of: *.tf
  prettier-format-check: any of: *.{js,jsx,ts,tsx,json,css,scss,html,yaml,yml}
