Repository digitalservicebund/terraform-modules: changes, and which lefthook commands are due for each by the changed paths.
All: terraform-format-check, prettier-format-check

terraform-format-check:
  run: terraform fmt -check {staged_files}

prettier-format-check:
  run: npx --yes prettier --check .

Add docs about null resource
  stackit-secrets-manager/README.md
Due: none

Update terraform version to 1.13.4
  .github/workflows/pipeline.yml
  stackit-object-storage/.terraform-version
  stackit-secrets-manager/.terraform-version
  stackit-state-bucket/.terraform-version
Due: prettier-format-check

feat(stackit-secrets-manager): Add secret store resources as outputs (#14)
  .github/workflows/pipeline.yml
  stackit-secrets-manager/.terraform-version
  stackit-secrets-manager/.terraform.lock.hcl
  stackit-secrets-manager/README.md
  stackit-secrets-manager/outputs.tf
  stackit-secrets-manager/tests/secrets_manager.tftest.hcl
  stackit-secrets-manager/variables.tf
  stackit-state-bucket/.terraform-version
Due: terraform-format-check, prettier-format-check

feat(stackit-postgres-db): Change username of default pg user
  stackit-postgres-db/README.md
  stackit-postgres-db/main.tf
  stackit-postgres-db/outputs.tf
  stackit-postgres-db/tests/postgres.tftest.hcl
Due: terraform-format-check

feat(stackit-postgres-db): Create new module
  stackit-postgres-db/.terraform-version
  stackit-postgres-db/.terraform.lock.hcl
  stackit-postgres-db/README.md
  stackit-postgres-db/main.tf
  stackit-postgres-db/outputs.tf
  stackit-postgres-db/terraform.tf
  stackit-postgres-db/tests/postgres.tftest.hcl
  stackit-postgres-db/variables.tf
Due: terraform-format-check

Add default database
  stackit-postgres-db/main.tf
  stackit-postgres-db/tests/postgres.tftest.hcl
Due: terraform-format-check

Update docs
  stackit-postgres-db/README.md
Due: none

Add new module to pipeline
  .github/workflows/pipeline.yml
Due: prettier-format-check

fix typo
  stackit-postgres-db/README.md
  stackit-postgres-db/variables.tf
Due: terraform-format-check

Add null resource example
  stackit-postgres-db/README.md
Due: none

Add outputs for external secrets
  stackit-postgres-db/.terraform.lock.hcl
  stackit-postgres-db/README.md
  stackit-postgres-db/main.tf
  stackit-postgres-db/outputs.tf
  stackit-postgres-db/terraform.tf
  stackit-postgres-db/tests/postgres.tftest.hcl
  stackit-postgres-db/variables.tf
Due: terraform-format-check

Describe in more detail what happens in the module
  stackit-postgres-db/README.md
Due: none

feat(stackit-postgres-db): Create new module (#13)
  .github/workflows/pipeline.yml
  stackit-postgres-db/.terraform-version
  stackit-postgres-db/.terraform.lock.hcl
  stackit-postgres-db/README.md
  stackit-postgres-db/main.tf
  stackit-postgres-db/outputs.tf
  stackit-postgres-db/terraform.tf
  stackit-postgres-db/tests/postgres.tftest.hcl
  stackit-postgres-db/variables.tf
Due: terraform-format-check, prettier-format-check

docs(stackit-secrets-manager): Add description for external secrets outputs
  stackit-secrets-manager/README.md
  stackit-secrets-manager/outputs.tf
Due: terraform-format-check

docs(stackit-state-bucket): Add docs about null_resources
  stackit-state-bucket/README.md
Due: none

feat(stackit-state-credentials): Add module to store state bucket credentials in 1Password
  stackit-state-bucket/README.md
  stackit-state-bucket/outputs.tf
  stackit-state-credentials/.terraform-version
  stackit-state-credentials/.terraform.lock.hcl
  stackit-state-credentials/README.md
  stackit-state-credentials/main.tf
  stackit-state-credentials/outputs.tf
  stackit-state-credentials/terraform.tf
  stackit-state-credentials/tests/state_credentials.tftest.hcl
  stackit-state-credentials/variables.tf
Due: terraform-format-check

add to pipeline
  .github/workflows/pipeline.yml
Due: prettier-format-check

integrate file generation into module
  stackit-state-bucket/main.tf
  stackit-state-bucket/outputs.tf
Due: terraform-format-check

remove duplicate
  stackit-state-bucket/outputs.tf
Due: terraform-format-check

fix value of secret key
  stackit-state-bucket/main.tf
Due: terraform-format-check

feat: Add configuration options for backend and 1Password item creation
  stackit-state-bucket/.terraform.lock.hcl
  stackit-state-bucket/README.md
  stackit-state-bucket/main.tf
  stackit-state-bucket/outputs.tf
  stackit-state-bucket/tests/state_bucket.tftest.hcl
  stackit-state-bucket/variables.tf
Due: terraform-format-check

style: Format code for consistency and add description to onepassword_command output
  stackit-state-bucket/README.md
  stackit-state-bucket/main.tf
  stackit-state-bucket/outputs.tf
  stackit-state-bucket/variables.tf
Due: terraform-format-check

fmt
  stackit-state-bucket/main.tf
  stackit-state-bucket/tests/state_bucket.tftest.hcl
Due: terraform-format-check

Update readme
  stackit-state-bucket/README.md
Due: none

docs(stackit-secrets-manager, stackit-postgres-db): Remove module.env references from docs
  stackit-postgres-db/README.md
  stackit-secrets-manager/README.md
Due: none

docs(stackit-secrets-manager): More details about manifest output
  stackit-secrets-manager/README.md
Due: none

fix test error messages
  stackit-state-bucket/tests/state_bucket.tftest.hcl
Due: none

feat(stackit-state-bucket): 1Password credentials (#16)
  stackit-state-bucket/.terraform.lock.hcl
  stackit-state-bucket/README.md
  stackit-state-bucket/main.tf
  stackit-state-bucket/outputs.tf
  stackit-state-bucket/tests/state_bucket.tftest.hcl
  stackit-state-bucket/variables.tf
Due: terraform-format-check

feat(stackit-object-storage): Allow credential storage in secrets manager
  stackit-object-storage/.terraform.lock.hcl
  stackit-object-storage/main.tf
  stackit-object-storage/outputs.tf
  stackit-object-storage/terraform.tf
  stackit-object-storage/tests/object_storage.tftest.hcl
  stackit-object-storage/variables.tf
Due: terraform-format-check

Update docs
  stackit-object-storage/README.md
  stackit-object-storage/outputs.tf
  stackit-object-storage/variables.tf
Due: terraform-format-check

format secrets manager docs
  stackit-secrets-manager/README.md
Due: none

feat(stackit-object-storage): Allow credential storage in secrets manager (#17)
  stackit-object-storage/.terraform.lock.hcl
  stackit-object-storage/README.md
  stackit-object-storage/main.tf
  stackit-object-storage/outputs.tf
  stackit-object-storage/terraform.tf
  stackit-object-storage/tests/object_storage.tftest.hcl
  stackit-object-storage/variables.tf
  stackit-secrets-manager/README.md
Due: terraform-format-check

docs(stackit-modules): Make readme instructions more clear
  stackit-object-storage/README.md
  stackit-postgres-db/README.md
  stackit-secrets-manager/README.md
  stackit-state-bucket/README.md
Due: none

feat(stackit-state-bucket): Allow creating credentials in a different vault
  stackit-state-bucket/.terraform.lock.hcl
  stackit-state-bucket/README.md
  stackit-state-bucket/main.tf
  stackit-state-bucket/tests/state_bucket.tftest.hcl
  stackit-state-bucket/variables.tf
Due: terraform-format-check

fix formatting & disable fail fast
  .github/workflows/pipeline.yml
  stackit-state-bucket/README.md
Due: prettier-format-check

docs(stackit-modules): Improve null_resoruces in examples
  stackit-object-storage/README.md
  stackit-postgres-db/README.md
  stackit-secrets-manager/README.md
Due: none

feat(stackit-state-bucket): Allow creating credentials in a different vault (#18)
  .github/workflows/pipeline.yml
  stackit-object-storage/README.md
  stackit-postgres-db/README.md
  stackit-secrets-manager/README.md
  stackit-state-bucket/.terraform.lock.hcl
  stackit-state-bucket/README.md
  stackit-state-bucket/main.tf
  stackit-state-bucket/tests/state_bucket.tftest.hcl
  stackit-state-bucket/variables.tf
Due: terraform-format-check, prettier-format-check

refactor(stackit-object-storage): Rename state_bucket to bucket for consistency
  stackit-object-storage/main.tf
  stackit-object-storage/outputs.tf
  stackit-object-storage/tests/object_storage.tftest.hcl
Due: terraform-format-check

Fix documentation after renaming resource
  stackit-object-storage/README.md
Due: none

Fix documentation after renaming resource (#20)
  stackit-object-storage/README.md
Due: none

Path conditions:
  terraform-format-check: any of: *.tf
  prettier-format-check: any of: *.{js,jsx,ts,tsx,json,css,scss,html,yaml,yml}
